/*HABITACIONES*/
#titulohabitaciones {
    font-family: "Glory", sans-serif;
    text-align: center;
    margin-top: 150px;
    font-size: 40px;
    margin-bottom: 50px;
}

.habitaciones-container {
    display: flex;
    flex-wrap: wrap;
    /*Permite que los elementos (las imágenes) bajen a la siguiente fila si no entran en una sola*/
    justify-content: center;
    /*Centra horizontalmente las cards dentro del contenedor.*/
    margin-top: 10px;
    margin-bottom: 30px;
}

.habitaciones {
    border: 2px solid #3f2c0e;
    /* Borde de 2px de grosor y color negro */
    padding: 30px;
    /* Espacio interno dentro del recuadro */
    margin: 30px;
    /* Espacio externo alrededor del recuadro */
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    /* Sombra */
    width: 500px;
    border-radius: 10px;
    text-align: center;

}

.habitaciones:hover {
    box-shadow: 0 8px 16px #3f2c0e;

}

.habitaciones h3 {
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    font-family: "Glory", sans-serif;
}

.habitaciones img {
    width: 100%;
    border-radius: 8px;

}

.habitaciones h5 {
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: "Glory", sans-serif;


}

.habitaciones p {
    font-size: 20px;
    color: #3f2c0e;
    font-weight: 800;
    font-family: "Glory", sans-serif;

}

.habitaciones ul {
    list-style: none;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: "Glory", sans-serif;
    font-size: 30px;
}

.habitaciones ul li {
    margin-bottom: 5px;
    font-size: 18px;
    color: #555;
}

.habitaciones h5 {
    font-size: 20px;


}

.habitaciones h4 {
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 800;
    font-family: "Glory", sans-serif;
}

.reservar {
    text-decoration: none;
    color: #3f2c0e;
    font-family: "Montserrat", sans-serif;
    padding: 10px 10px;
    /* Reduce el tamaño del fondo */
    border-radius: 25px;
    /* Hace que el fondo sea redondo */
    background-color: #d8b25e;
    transition: background-color 0.3s ease;
    /* Transición suave para el hover */
    font-weight: 700;
    width: 70px;
    display: flex;
    justify-content: flex-end;
    /*lo alinea a la izquierda*/
    text-align: center;
    justify-content: center;
    font-size: 15px;
    cursor: pointer;
    /*mouse*/

}

.reservar:hover {
    background-color: #3f2c0e;
    color: #fcf8ef;
    /* Cambia el color del texto en el hover */
}

/*iconos*/
.bx-check {
    color: #3f2c0e;

}

.bx-user {
    margin-right: 10px;
    font-size: 24px;
}

/*DISPOSITIVOS PEQUEÑOS*/
@media (max-width: 600px) {
    #titulohabitaciones {
        margin-top: 100px;
        font-size: 30px;
    }

    .habitaciones {
        width: 90%;
        /* Ocupará casi toda la pantalla */
        margin: 15px;
        /* Margen más chico para que no quede muy apretado */
        padding: 20px;
    }

    .habitaciones h3 {
        font-size: 25px;
    }

    .habitaciones h4 {
        font-size: 20px;
    }

    .habitaciones p,
    .habitaciones ul li {
        font-size: 17px;
    }

    .reservar {
        font-size: 14px;
        padding: 8px 8px;
    }
}

/*SECCION UBICACIÓN*/
.ubicacion {
    font-family: "Glory", sans-serif;
}

.ubicacion h1 {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 30px;
    font-size: 40px;

}

.ubicacion h3 {
    text-align: center;
    margin-top: 40px;
    font-style: italic;
    margin-bottom: 40px;
    font-size: 20px;

}

.ubicacion p {
    text-align: center;
    margin-bottom: 50px;
    font-size: 18px;
}

.ubicacion iframe {
    width: 90%;
    display: block;
    margin: 0 auto 80px;
    /*margen superior , izquierdo y derecho y inferior*/
}
/*DISPOSITIVOS PEQUEÑOS*/
@media (max-width: 600px) {
    .ubicacion h1 {
        font-size: 30px;
        margin-top: 90px;
       
    }
    .ubicacion h3 {
        font-size: 16px;
    }
    .ubicacion p{
        font-size: 16px;
    }
}

/*FORMULARIO DE CONTACTO*/
#titulocontacto {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 30px;
    font-size: 40px;
    font-family: "Glory", sans-serif;
}

#duda {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 40px;
    font-weight: 500;
    font-family: "League Spartan", sans-serif;
    font-size: 20px;

}

.formulario-contacto,
.formulario-reservar {
    background-color: #fcf8ef;
    margin-top: 50px;
    margin-bottom: 30px;
    max-width: 600px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    /* centrado horizontal y espacio arriba/abajo */
    font-family: "Montserrat", sans-serif;
}


.formulario-contacto label {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 17px;

}


.formulario-contacto textarea {
    max-width: 100%;
    max-height: 200px;
    margin-bottom: 15px;
    font-family: "Montserrat", sans-serif;
    padding: 12px;
    /* Agrega espacio interno general */
    padding-top: 20px;
    /* Más espacio arriba específicamente */
}

textarea::placeholder {
    font-size: 17px;

}

.formulario-contacto input,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    /* Borde gris claro */
    border-radius: 5px;
    /* Bordes redondeados */
    font-family: inherit;
    font-size: 17px;
    box-sizing: border-box;
    /* Incluye padding y borde en el ancho total */
    margin-bottom: 15px;

}

.formulario-contacto select option {
    font-size: 15px;
}

.formulario-contacto button {
    margin: 30px auto;
    /* Centrado y con más espacio arriba */
    text-decoration: none;
    color: #3f2c0e;
    font-family: "Montserrat", sans-serif;
    padding: 10px 20px;
    /* alto y ancho */
    border-radius: 25px;
    background-color: #d8b25e;
    transition: background-color 0.3s ease;
    font-weight: 700;
    font-size: 17px;
    /* Tamaño de letra más grande */
    width: auto;
    /* Se adapta al contenido */
    text-align: center;
    border: none;
    cursor: pointer;
    /*mouse*/

}

.formulario-contacto button:hover {
    background-color: #3f2c0e;
    color: #fcf8ef;
    /* Cambia el color del texto en el hover */
}

.checkbok {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.checkbok input[type="checkbox"] {
    margin-right: 10px;
    /* Agrega espacio entre el checkbox y el texto */
    width: 15px;
    height: 20px;
    accent-color: #d8b25e;

}

/*DISPOSITIVOS PEQUEÑOS*/
@media (max-width: 600px) {
    #titulocontacto {
        font-size: 30px;
        margin-top: 90px;
    }

    #duda {
        font-size: 18px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .formulario-contacto {
        max-width: 400px;
        margin: 0 auto;
        
    }

    .formulario-contacto label {
        font-size: 15px;
    }
    .formulario-contacto input,
    select{
        font-size: 15px;
    }
    .formulario-contacto button {
        font-size: 14px;
        padding: 8px 8px;
    }
    .formulario-contacto select  option {
        font-size: 14px;
    }
}

/*FORMULARIO DE RESERVA*/
#tituloreserva {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 30px;
    font-size: 40px;
    font-family: "Glory", sans-serif;
}

.formulario-reservar label {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 17px;
}

.formulario-reservar input,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: inherit;
    /*hereda la fuente del padre*/
    font-size: 17px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.formulario-reservar button {
    margin: 30px auto;
    /* Centrado y con más espacio arriba */
    text-decoration: none;
    color: #3f2c0e;
    font-family: "Montserrat", sans-serif;
    padding: 10px 20px;
    /* alto y ancho */
    border-radius: 25px;
    background-color: #d8b25e;
    transition: background-color 0.3s ease;
    font-weight: 700;
    font-size: 17px;
    /* Tamaño de letra más grande */
    width: auto;
    /* Se adapta al contenido */
    text-align: center;
    border: none;
    cursor: pointer;
    /*mouse*/

}

.formulario-reservar button:hover {
    background-color: #3f2c0e;
    color: #fcf8ef;
    /* Cambia el color del texto en el hover */
}

.formulario-reservar textarea {
    max-width: 100%;
    max-height: 200px;
    margin-bottom: 15px;
    font-family: "Montserrat", sans-serif;
    padding: 12px;
    /* Agrega espacio interno general */
    padding-top: 20px;
    /* Más espacio arriba específicamente */

}

/*DISPOSITIVOS PEQUEÑOS*/
@media (max-width: 600px) {
    #tituloreserva {
        font-size: 30px;
        margin-top: 90px;
    }

    .formulario-reservar {
        max-width: 400px;
        margin: 0 auto;

    }

    .formulario-reservar label {
        font-size: 15px;
    }

    .formulario-reservar input,
    select {
        font-size: 15px;
    }

    textarea::placeholder {
        font-size: 15px;
    }

    .formulario-reservar button {
        font-size: 14px;
        padding: 8px 8px;
    }
}

/*PROMOCIONES DEL HOTEL*/
.promos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*Centra horizontalmente las cards dentro del contenedor.*/
    margin-top: 10px;
    margin-bottom: 30px;

}

.promociones h1 {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 30px;
    font-size: 40px;
    font-family: "Glory", sans-serif;
}

.promociones p {
    text-align: center;
    font-size: 23px;
    margin-bottom: 90px;
    font-family: "Glory", sans-serif;
}

.promociones img {
    width: 400px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 90px;

}

.promociones article {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra todo horizontalmente */
    justify-content: center;
    border: 2px solid #3f2c0e;
    /* Borde de 2px de grosor y color negro */
    padding: 30px;
    /* Espacio interno dentro del recuadro */
    margin: 30px;
    /* Espacio externo alrededor del recuadro */
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    /* Sombra */
    width: 500px;
    border-radius: 10px;
    text-align: center;
    margin: 15px;
    /* Espacio entre las cards */
    max-height: 500px;
    /* Limita la altura */
    overflow: hidden;
    /* Oculta lo que se pasa del tamaño */

}

.promociones article:hover {
    box-shadow: 0 8px 16px #3f2c0e;

}

.promociones h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Glory", sans-serif;
    font-size: 25px;
}

/*DISPOSITIVOS PEQUEÑOS*/
@media (max-width: 600px) {
    .promociones h1 {
        font-size: 30px;
        margin-top: 90px;
    }

    .promociones p {
        font-size: 18px;
        margin-bottom: 50px;
    }

    .promociones img {
        width: 100%; 
        
        max-height: none;
        padding: 10px;
        margin: 10px  /* Centrado y con poco margen */
        
      
    }

    .promociones article {
        width: 350px;
        padding: 25px;
        
    }

    .promociones h3 {
        font-size: 19px;
    }
}

/*GALERIA DE FOTOS*/
.imagenes-container {
    display: grid;
    grid-template-columns: repeat(2 1fr);
    /*2 columnas*/
    grid-template-rows: repeat(3, auto);
    /*3 filas*/
    justify-content: center;
    max-width: 80%;
    /*Ajusta el ancho del contenedor*/
    margin: auto;
    /*Centra las imagenes horizontalmente dentro del contenedor*/


}

.galeria h1 {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
    font-size: 40px;
    font-family: "Glory", sans-serif;
}

.galeria img {
    margin-left: 30px;
    margin-bottom: 60px;
    width: 700px;
    object-fit: cover;
    transition: transform 0.3s;
    /*animacion al pasar el mouse que durara 3s*/

}

.galeria img:hover {
    transform: scale(1.03);
    /* agranda un poquito la imagen al pasar el mouse */
}

.imagenes {
    margin-bottom: 100px;
}

/*DISPOSITIVOS PEQUEÑOS*/
@media (max-width: 600px){
    
     .galeria h1 {
        font-size: 30px;
        margin-bottom: 50px;
     }
     .galeria img{
        width: 100%; 
        margin: 0 auto; /* Centra la imagen horizontalmente */
        display: block; /* Asegura que la imagen se muestre como bloque */
        margin-bottom: 40px;
     }
      
}